ODD/mei_from_odd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.edirom.de/ns/mei" xmlns:mei="http://www.edirom.de/ns/mei">
  <!--
    Schema generated from ODD source 2009-01-12T13:03:05Z. 
    TEI Edition: 1.2.0. Last updated on October 31st 2008.
    
  -->
  <!---->
  <xs:element name="mei">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mei:meihead"/>
        <xs:element ref="mei:work"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="1.8b"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="meihead">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mei:meiid"/>
        <xs:element ref="mei:filedesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="meiid">
    <xs:complexType>
      <xs:attribute name="meiform" default="meiid"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filedesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mei:titlestmt"/>
        <xs:element ref="mei:pubstmt"/>
      </xs:sequence>
      <xs:attribute name="meiform" default="filedesc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titlestmt">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:title">
          <xs:attribute name="meiform" default="titlestmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="title">
    <xs:sequence>
      <xs:element ref="mei:title"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attribute name="meiform" default="title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubstmt">
    <xs:complexType mixed="true">
      <xs:attribute name="meiform" default="pubstmt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="work" type="xs:string"/>
</xs:schema>
