XSD/text_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- Text Module -->
  <!-- Declare module attr classes -->
  <!-- Declare module model classes -->
  <xs:group name="model.backLike">
    <xs:annotation>
      <xs:documentation>groups elements that may contain back
      matter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="back"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divLike">
    <xs:annotation>
      <xs:documentation>groups elements used to represent generic
      structural divisions of text.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="div"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.frontLike">
    <xs:annotation>
      <xs:documentation>groups elements that may contain front
      matter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="front"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike">
    <xs:annotation>
      <xs:documentation>groups elements used to provide a heading at
      the start of a text division.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike">
    <xs:annotation>
      <xs:documentation>groups elements representing metrical
      components such as verse lines.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.listLike">
    <xs:annotation>
      <xs:documentation>groups list-like elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike">
    <xs:annotation>
      <xs:documentation>groups elements used to directly contain
      quotations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="blockquote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lgLike">
    <xs:annotation>
      <xs:documentation>groups elements that have a line-grouping
      function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="lg"/>
    </xs:sequence>
  </xs:group>
  <!-- Declare module elements -->
  <xs:complexType name="content.back">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
      <xs:group maxOccurs="unbounded" ref="model.divLike"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="back">
    <xs:annotation>
      <xs:documentation>back ― Back matter such as indexes,
        advertisements, etc. following the main part of a
        text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.back">
          <xs:attributeGroup ref="attlist.back"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.back">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.blockquote">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="model.textcomponentLike"/>
      <xs:group minOccurs="0" ref="model.biblLike"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="blockquote">
    <xs:annotation>
      <xs:documentation>blockquote ― A formatting element that
        designates an extended quotation; that is, a passage attributed to a
        source external to the text. The quotation is normally set off from the
        text by spacing or other typographic distinction. The source for the
        quote may be included in the optional &lt;bibl&gt; sub-element.
        Use &lt;rend&gt; for words that are enclosed in quotation marks
        for emphasis or for a short quoted phrase that occurs within a line of
        text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.blockquote">
          <xs:attributeGroup ref="attlist.blockquote"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.blockquote">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
    <xs:attributeGroup ref="att.xy"/>
  </xs:attributeGroup>
  <xs:complexType name="content.div">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
      <xs:group minOccurs="0" ref="model.headLike"/>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="model.divLike"/>
        <xs:group ref="model.textcomponentLike"/>
      </xs:choice>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="div">
    <xs:annotation>
      <xs:documentation>division ― Major structural division of
        text, such as a preface, chapter or section. Often, the
        &lt;head&gt; sub-element identifies the &lt;div&gt;'s
        purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.div">
          <xs:attributeGroup ref="attlist.div"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.div">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
    <xs:attributeGroup ref="att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.front">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="model.divLike"/>
        <xs:group ref="model.frontPart"/>
      </xs:choice>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="model.milestoneLike.text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="front">
    <xs:annotation>
      <xs:documentation>front ― Bundles prefatory text found
        before the start of the musical text. &lt;titlepage&gt; may be
        used to transcribe the item's title page. Other front matter structures,
        such as a preface, dedication, or table of contents, may be encoded as
        textual divisions; that is, as &lt;div&gt;s, with an optional
        &lt;head&gt; sub-element describing the nature of the division.
        The &lt;pb&gt; element is allowed here in order to accommodate
        page images, e.g. cover, endpapers, etc. before and after the actual
        textual matter.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.front">
          <xs:attributeGroup ref="attlist.front"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.front">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.head" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="model.textphraseLike"/>
      <xs:group ref="model.editLike"/>
      <xs:group ref="model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>heading ― Contains any heading, for
        example, the title of a section of text, or the heading of a list. When
        &lt;head&gt; is used, it should be the first sub-element,
        followed by one or more other elements.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.head">
          <xs:attributeGroup ref="attlist.head"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.head">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
    <xs:attributeGroup ref="att.xy"/>
  </xs:attributeGroup>
  <xs:complexType name="content.item" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="model.textcomponentLike"/>
      <xs:group ref="model.textphraseLike"/>
      <xs:group ref="model.editLike"/>
      <xs:group ref="model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>item ― Single item in a
        &lt;list&gt;.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.item">
          <xs:attributeGroup ref="attlist.item"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.item">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
  </xs:attributeGroup>
  <xs:complexType name="content.l" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="model.textphraseLike"/>
      <xs:group ref="model.editLike"/>
      <xs:group ref="model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="l">
    <xs:annotation>
      <xs:documentation>line of text ― Contains a single line of
        text within a line group. The n attribute should be used to record a
        label for the line, i.e., most likely a line number. Do not confuse this
        element with the &lt;line&gt; element, which is used for
        graphical lines that occur in music notation.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.l">
          <xs:attributeGroup ref="attlist.l"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.l">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.lg">
    <xs:sequence>
      <xs:group minOccurs="0" ref="model.headLike"/>
      <xs:group maxOccurs="unbounded" ref="model.lLike"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lg">
    <xs:annotation>
      <xs:documentation>line group ― Usually contains a lyric
        verse although it may be used for any section of text that is organized
        as a group of lines.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.lg">
          <xs:attributeGroup ref="attlist.lg"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.lg">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
    <xs:attributeGroup ref="att.xy"/>
  </xs:attributeGroup>
  <xs:complexType name="content.list">
    <xs:sequence>
      <xs:group minOccurs="0" ref="model.headLike"/>
      <xs:element maxOccurs="unbounded" ref="item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>list ― A formatting element that contains
        as series of items separated from one another and arranged in a linear,
        of vertical sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="content.list">
          <xs:attributeGroup ref="attlist.list"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.list">
    <xs:attributeGroup ref="att.common"/>
    <xs:attributeGroup ref="att.facsimile"/>
    <xs:attributeGroup ref="att.lang"/>
    <xs:attributeGroup ref="att.xy"/>
    <xs:attribute name="form">
      <xs:annotation>
        <xs:documentation>used to identify and format a list. In a
          "simple" list, &lt;item&gt;s are not numbered or bulleted. In
          a "marked" list, the sequence of the list items is not critical, and a
          bullet, box, dash, or other character is displayed at the start of
          each &lt;item&gt;. In an "ordered" list, the sequence of the
          items is important, and each &lt;item&gt; is lettered or
          numbered. Style sheet functions should be used to specify the mark or
          numeration system for each &lt;item&gt;.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
          <xs:enumeration value="marked"/>
          <xs:enumeration value="ordered"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
