ModularizationTesting/analysis_Module.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <!-- Analysis module -->
  <define name="att.common.anl" combine="interleave">
    <a:documentation xml:lang="eng">Common analytical attributes. When the
      meiLinkAlign module is used, the when attribute is also a member of this
      attribute class.</a:documentation>
    <optional>
      <attribute name="copyof">
        <a:documentation xml:lang="eng">points to an element of which the
          current element is a copy.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="corresp">
        <a:documentation xml:lang="eng">used to point to other elements that
          correspond to this one in a generic fashion.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="next">
        <a:documentation xml:lang="eng">used to point to the next event(s) in a
          user-defined collection.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="prev">
        <a:documentation xml:lang="eng">points to the previous event(s) in a
          user-defined collection.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sameas">
        <a:documentation xml:lang="eng">points to an element that is the same as
          the current element but is not a literal copy of the current
          element.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="synch">
        <a:documentation xml:lang="eng">points to elements that are synchronous
          with the current element.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <ref name="att.alignment"/>
  </define>

  <!-- Shared Module
  <define name="att.accid.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.annot.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.artic.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.barline.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.chord.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
    <optional>
      <attribute name="hfunc">
        <a:documentation xml:lang="eng">describes the chord's harmonic function
          in any convenient typology.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="mfunc">
        <a:documentation xml:lang="eng">describes the chord's melodic function
          in any convenient typology.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.clef.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.clefchange.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.custos.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributess</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.dir.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.dot.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.dynam.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.ending.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.grpsym.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.layer.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.layerdef.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.measure.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.note.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
    <optional>
      <attribute name="accid.cautionary">
        <a:documentation xml:lang="eng">indicates a cautionary accidental
          accompanying the note.</a:documentation>
        <ref name="data.ACCIDENTAL.EXPLICIT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="accid.editorial">
        <a:documentation xml:lang="eng">indicates an editorial accidental
          accompanying the note.</a:documentation>
        <ref name="data.ACCIDENTAL.EXPLICIT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="hfunc">
        <a:documentation xml:lang="eng">contains an indication of the harmonic
          function of this note.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="inth">
        <a:documentation xml:lang="eng">encodes the harmonic interval from a
          pitch occuring at the same time.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="intm">
        <a:documentation xml:lang="eng">encodes the melodic interval from the
          previous note.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="mfunc">
        <a:documentation xml:lang="eng">contains an indication of the melodic
          function of this note.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="pclass">
        <a:documentation xml:lang="eng">holds pitch class
          information.</a:documentation>
        <ref name="data.PITCHCLASS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="psolfa">
        <a:documentation xml:lang="eng">contains solfa designation, e.g., do,
          re, mi, etc., in either fixed or movable Do systems.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.pad.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.part.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.parts.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.phrase.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
    <optional>
      <attribute name="join">
        <a:documentation xml:lang="eng">used for linking visually separate
          phrase marks, sometimes necessary due to system breaks, that form a
          single musical phrase. Record the IDs of the separately encoded phrase
          marks, excluding this one.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="att.rest.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.sb.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.score.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.scoredef.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.section.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.space.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.staff.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.staffdef.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.staffgrp.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.syl.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.tempo.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  CMN Module
  <define name="att.arpeg.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.beam.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.beamspan.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.beatrpt.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.bend.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.breath.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.btrem.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.fermata.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.ftrem.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.gliss.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.hairpin.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.halfmrpt.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.harppedal.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mrest.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mrpt.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mrpt2.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mspace.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain attributes. Use the n
      attribute to explicitly encode this measure's position in a string of
      measures containing only &lt;mrest&gt; elements.</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.multirest.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.multirpt.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.octave.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.ossia.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.pedal.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.reh.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.slur.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
    <optional>
      <attribute name="join">
        <a:documentation xml:lang="eng">used for linking visually separate
          slurs, sometimes necessary due to system breaks, that form a single
          musical phrase. Record the IDs of the separately encoded slurs,
          excluding this one.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="att.staffdef.anl" combine="interleave">
    <optional>
      <attribute name="beam.group">
        <a:documentation xml:lang="eng">provides an example of how beaming
          (including secondary beams) is to be performed. It can be used to set
          a default beaming pattern to be used when no beaming is indicated at
          the event level. beam.group must contain a comma-separated list of
          time values that add up to a measure, e.g., in 4/4 time '4,4,4,4'
          indicates each quarter note worth of shorter notes would be beamed
          together. Parentheses can be used to indicate sub-groupings of
          secondary beams. For example, '(4.,4.,4.)' in 9/8 meter indicates one
          outer beam per measure with secondary beams broken at each dotted
          quarter duration, while a measure of 16th notes in 4/4 with beam.group
          equal to '(4,4),(4,4)' will result in a primary beam covering all the
          notes and secondary beams each group of 4 notes. This beaming
          "directive" can be overridden by using &lt;beam&gt; elements.
          If neither &lt;beam&gt; elements or the beam.group attribute
          is used, then no beaming is rendered. Beaming can be 'turned off' by
          setting beam.group to an empty string.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="beam.rests">
        <a:documentation xml:lang="eng">determines whether rests are allowed
          under a beam.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.tie.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.tuplet.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.tupletspan.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  CMN Ornaments Module
  <define name="att.mordent.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.trill.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.turn.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  CritApp Module
  <define name="att.rdg.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  Harmony Module
  <define name="att.harm.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  Lyrics Module
  <define name="att.lyrics.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.verse.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  Mensural Module
  <define name="att.ligature.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mensur.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.proport.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  MIDI Module
  <define name="att.midi.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  -->
  
</grammar>
