ModularizationTesting/shared_Module.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:tei="http://www.tei-c.org/ns/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:xlink="http://www.w3.org/1999/xlink">

  <!-- Shared Module -->
  <!-- Declare module attr classes -->
  <define name="att.bibl">
    <a:documentation xml:lang="eng">Bibliographic attributes</a:documentation>
    <optional>
      <attribute name="analog"/>
      <a:documentation xml:lang="eng">contains a reference to a field or element
        in another descriptive encoding system to which an MEI element is
        comparable. Mapping elements from one system to another may help a
        repository harvest selected data from the MEI file to build a basic
        catalog record. The encoding system from which fields are taken must be
        specified. When possible, subfields as well as fields should be
        specified, e.g., subfields within MARC fields.</a:documentation>
    </optional>
  </define>

  <define name="att.color">
    <a:documentation xml:lang="eng">Color attributes</a:documentation>
    <optional>
      <attribute name="color">
        <a:documentation xml:lang="eng">used to indicate visual appearance. Do
          not confuse this with the musical term 'color' as used in pre-CMN
          notation.</a:documentation>
        <ref name="data.COLOR"/>
      </attribute>
    </optional>
  </define>

  <define name="att.common" combine="interleave">
    <a:documentation xml:lang="eng">Common attributes</a:documentation>
    <optional>
      <attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
        <a:documentation xml:lang="eng">regularizes the naming of an element and
          thus facilitates building links between it and other resources. Each
          id attribute within a document must have a unique
          value.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="n">
        <a:documentation xml:lang="eng">provides a label (name or number) for an
          element. While its value need not be unique, it is required to be a
          single token.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.date">
    <a:documentation xml:lang="eng">Attributes common to dates</a:documentation>
    <optional>
      <attribute name="calendar">
        <a:documentation xml:lang="eng">indicates the system or calendar to
          which the date belongs, for example, Gregorian, Julian, Roman, Mosaic,
          Revolutionary, Islamic, etc.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="cert">
        <a:documentation xml:lang="eng">indicates the degree of precision to be
          attributed to the date.</a:documentation>
        <ref name="data.CERTAINTY"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="from">
        <a:documentation xml:lang="eng">contains the starting point of a date
          range.</a:documentation>
        <ref name="data.ISODATE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="notafter">
        <a:documentation xml:lang="eng">contains an upper boundary for an
          uncertain date.</a:documentation>
        <ref name="data.ISODATE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="notbefore">
        <a:documentation xml:lang="eng">contains a lower boundary for an
          uncertain date.</a:documentation>
        <ref name="data.ISODATE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xml:lang="eng">gives the value of a date in standard
          ISO form.</a:documentation>
        <ref name="data.ISODATE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="to">
        <a:documentation xml:lang="eng">contains the end point of a date
          range.</a:documentation>
        <ref name="data.ISODATE"/>
      </attribute>
    </optional>
  </define>

  <define name="att.event" combine="interleave">
    <a:documentation xml:lang="eng">Attributes that apply to all written events,
      e.g., beam, beatrpt, chord, note, etc.</a:documentation>
    <optional>
      <attribute name="layer">
        <a:documentation xml:lang="eng">signifies the layer within which the
          event is active.</a:documentation>
        <ref name="data.INTEGERPOSITIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="staff">
        <a:documentation xml:lang="eng">signifies the staff within which the
          event is active.</a:documentation>
        <ref name="data.INTEGERPOSITIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp">
        <a:documentation xml:lang="eng">encodes the onset time of the event in
          terms of musical time, i.e., beats[.fractional beat
          part]</a:documentation>
        <ref name="data.BEAT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp.ges">
        <a:documentation xml:lang="eng">records the onset time in pulses per
          quarter note (ppq, MusicXML divisions, or MIDI clicks) since the start
          of the measure.</a:documentation>
        <ref name="data.INTEGERNONNEGATIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp.real">
        <a:documentation xml:lang="eng">records the onset time as a real-time
          offset, i.e., in HH:MM:SS.ss format, since the beginning of the
          file.</a:documentation>
        <ref name="data.ISOTIME"/>
      </attribute>
    </optional>
  </define>

  <define name="att.lang">
    <a:documentation xml:lang="eng">Language attributes common to text
      elements</a:documentation>
    <optional>
      <attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
        <a:documentation xml:lang="eng">identifies the language of the word or
          text phrase marked. Its value must be the identifier of a
          &lt;language&gt; element supplied in the MEI header of the
          current document.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>

  <define name="att.link.common" combine="interleave">
    <a:documentation xml:lang="eng">Attributes common to all linking
      elements</a:documentation>
    <optional>
      <attribute name="actuate" ns="http://www.w3.org/1999/xlink">
        <a:documentation xml:lang="eng">defines whether a link occurs
          automatically or must be requested by the user. It is used in
          conjunction with the show attribute to determine link
          behavior.</a:documentation>
        <choice>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="role" ns="http://www.w3.org/1999/xlink">
        <a:documentation xml:lang="eng">indicates a property of the entire link.
          The value of the role attribute must be a URI reference as defined in
          [IETF RFC 2396], except that if the URI scheme used is allowed to have
          absolute and relative forms, the URI portion must be absolute. The URI
          reference identifies some resource that describes the intended
          property. When no value is supplied, no particular role value is to be
          inferred.</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="show" ns="http://www.w3.org/1999/xlink">
        <a:documentation xml:lang="eng">defines whether a remote resource that
          is the target of a link appears at the point of the link, replaces the
          existing link, or appears in a new window.</a:documentation>
        <choice>
          <value>new</value>
          <value>replace</value>
          <value>other</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="targettype">
        <a:documentation xml:lang="eng">in contrast with the role attribute,
          allows the target resource to be characterized, using any convenient
          classification scheme or typology.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="title" ns="http://www.w3.org/1999/xlink">
        <a:documentation xml:lang="eng">contains a human-readable description of
          the entire link. A value is optional; if a value is supplied, it
          should contain a string that describes the resource. The use of this
          information is highly dependent on the type of processing being done.
          It may be used, for example, to make titles available to applications
          used by visually impaired users, or to create a table of links, or to
          present help text that appears when a user lets a mouse pointer hover
          over a starting resource.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.link.external" combine="interleave">
    <a:documentation xml:lang="eng">Linking attributes for external referencing
      elements</a:documentation>
    <optional>
      <attribute name="entityref">
        <a:documentation xml:lang="eng">uses a previously-declared entity to
          identify an external electronic object.</a:documentation>
        <data type="ENTITY"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fragment">
        <a:documentation xml:lang="eng">permits identification of one or more
          sub-parts within the object being pointed to.</a:documentation>
        <ref name="data.FRAGMENT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="href" ns="http://www.w3.org/1999/xlink">
        <a:documentation xml:lang="eng">allows the use of an
          previously-undeclared URI to identify an external electronic
          object.</a:documentation>
        <ref name="data.URI"/>
      </attribute>
    </optional>
  </define>

  <define name="att.link.internal" combine="interleave">
    <a:documentation xml:lang="eng">Linking attributes for internal referencing
      elements</a:documentation>
    <optional>
      <attribute name="plist">
        <a:documentation xml:lang="eng">contains an ID reference for each of the
          participants in a collection of elements.</a:documentation>
        <ref name="data.PLIST"/>
      </attribute>
    </optional>
  </define>

  <define name="att.name">
    <a:documentation xml:lang="eng">Attributes shared by names</a:documentation>
    <optional>
      <attribute name="authority">
        <a:documentation xml:lang="eng">contains the name of the list from which
          a controlled value is taken, such as the Thesaurus of Geographic Names
          (TGN), etc.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="key">
        <a:documentation xml:lang="eng">used to record a value which serves as a
          primary key in an external database.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xml:lang="eng">used to record a regularized form of the
          name.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.startendid">
    <a:documentation xml:lang="eng">Attributes recording the IDs of a sequence
      of elements to which the current element is associated.</a:documentation>
    <optional>
      <attribute name="startid">
        <a:documentation xml:lang="eng">holds a reference to the first element
          in the sequence.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="endid">
        <a:documentation xml:lang="eng">indicates the final element in the
          sequence.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>

  <define name="att.anl.annot" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.annot" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <optional>
      <attribute name="dur.ges">
        <a:documentation xml:lang="eng">records the durational scope of the
          annotation when it differs from the written values of the
          participants. Its value may be expressed in one of several forms, such
          as measures[s]+ beat[s].beatpart, ppq (MIDI clicks), Humdrum **recip
          values, or MusicXML 'divisions', etc.</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="att.log.annot" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes for annot. Values
      for the type attribute can be taken from any convenient typology of
      annotation suitable to the work in hand; e.g. annotation, gloss, citation,
      digression, preliminary, temporary, etc.</a:documentation>
    <ref name="att.startendid"/>
    <optional>
      <attribute name="dur">
        <a:documentation xml:lang="eng">records the durational scope of the
          annotation. Please note that the dur attribute is not a true duration,
          but rather a time stamp for the end point of the
          directive.</a:documentation>
        <ref name="data.MEASUREBEAT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="layer">
        <a:documentation xml:lang="eng">signifies the layer to which an
          annotation applies.</a:documentation>
        <ref name="data.INTEGERPOSITIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="staff">
        <a:documentation xml:lang="eng">signifies the staff to which an
          annotation applies.</a:documentation>
        <ref name="data.INTEGERPOSITIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp">
        <a:documentation xml:lang="eng">encodes the onset time in terms of
          musical time, i.e., beats[.fractional beat part]</a:documentation>
        <ref name="data.BEAT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp.ges">
        <a:documentation xml:lang="eng">records the onset time in pulses per
          quarter note (ppq, MusicXML divisions, or MIDI clicks) since the start
          of the measure.</a:documentation>
        <ref name="data.INTEGERNONNEGATIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp.real">
        <a:documentation xml:lang="eng">records the onset time as a real-time
          offset, i.e., in HH:MM:SS.ss format, since the beginning of the
          file.</a:documentation>
        <ref name="data.ISOTIME"/>
      </attribute>
    </optional>
  </define>
  <define name="att.vis.annot" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.anl.ending">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.ending">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.ending">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.ending">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.anl.layer">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.layer">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.layer">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.layer">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <optional>
      <attribute name="visible">
        <a:documentation xml:lang="eng">indicates if a layer should be displayed
          when the notation is rendered. A layer with this attribute set to
          'false' should also not be included in a sounded
          rendition.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.anl.measure">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.measure">
    <a:documentation xml:lang="eng">Gestural domain attributes. The tstamp.ges
      and tstamp.real attributes encode the onset time of the measure. In
      reality, this is usually the same as the onset time of the first event in
      the measure.</a:documentation>
    <optional>
      <attribute name="tstamp.ges">
        <a:documentation xml:lang="eng">used to record the onset time in pulses
          per quarter note (ppq, MusicXML divisions, or MIDI clicks) since the
          start of the file.</a:documentation>
        <ref name="data.INTEGERNONNEGATIVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tstamp.real">
        <a:documentation xml:lang="eng">holds the onset time as a real-time
          offset, i.e., HH:MM:SS.ss, since the beginning of the
          file.</a:documentation>
        <ref name="data.ISOTIME"/>
      </attribute>
    </optional>
  </define>
  <define name="att.log.measure">
    <a:documentation xml:lang="eng">Logical domain attributes. The n attribute
      contains a name or number associated with the measure (Read, p. 445).
      Often, this is an integer, but not always. For example, some measures,
      especially incomplete measures or those under an ending mark, may have
      labels that contain an integer plus a suffix, such as '12a'. Measures may
      even have labels, especially in editorial or analytical uses of MEI, that
      are entirely non-numeric strings. Measure numbers may be machine-generated
      instead of encoding them in the markup. However, an explicit measure
      number should restart numbering with the given value.</a:documentation>
    <optional>
      <attribute name="complete">
        <a:documentation xml:lang="eng">allows the encoding of whether a measure
          matches the prevailing meter: a value of 'c' indicates a metrically
          complete measure, 'i' indicates a measure with not enough beats, while
          'o' is for measures with too many beats.</a:documentation>
        <choice>
          <value>c</value>
          <value>i</value>
          <value>o</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="control">
        <a:documentation xml:lang="eng">indicates whether or not the right
          barline is "controlling", that is, indicates a point of alignment
          across all the parts. Barlines within a score are usually
          'controlling'; that is, they 'line up'. Barlines within a part may or
          may not be 'controlling' with respect to other
          parts.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="join">
        <a:documentation xml:lang="eng">indicates a measure which metrically
          completes the current one.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="left">
        <a:documentation xml:lang="eng">indicates the visual rendition of the
          left barline. It is present here only for facilitation of translation
          from legacy encodings which use it. Usually, it can be safely
          ignored.</a:documentation>
        <ref name="data.BARRENDITION"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="right">
        <a:documentation xml:lang="eng">indicates the function of the right
          barline and is structurally important.</a:documentation>
        <ref name="data.BARRENDITION"/>
      </attribute>
    </optional>
  </define>
  <define name="att.vis.measure">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <optional>
      <attribute name="barplace">
        <a:documentation xml:lang="eng">describes the placement of the right
          barline.</a:documentation>
        <ref name="data.BARPLACE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="taktplace">
        <a:documentation xml:lang="eng">If takt barlines are to be used, then
          the taktplace attribute may be used to denote the staff location of
          the shortened barline. The location may include staff lines, spaces,
          and the spaces directly above and below the staff. The value ranges
          between 0 (just below the staff) to 2 * number of staff lines
          (directly above the staff). For example, on a 5-line staff the lines
          would be numbered 1,3,5,7, and 9 while the spaces would be numbered
          0,2,4,6,8,10. For example, a value of '9' puts the barline through the
          top line of a 5-line staff.</a:documentation>
        <ref name="data.STAFFLOC"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="width">
        <a:documentation xml:lang="eng">For rendering purposes, some music data
          systems rely on measure width data. The width attribute allows for the
          capture of this data in MEI for output back to these
          systems.</a:documentation>
        <ref name="data.NUMBER"/>
      </attribute>
    </optional>
  </define>

  <define name="att.log.note" combine="interleave">
    <optional>
      <attribute name="accid">
        <a:documentation xml:lang="eng">captures a written accidental
          symbol.</a:documentation>
        <ref name="data.ACCIDENTAL.EXPLICIT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="dots">
        <a:documentation xml:lang="eng">encodes the number of written dots of
          augmentation.</a:documentation>
        <ref name="data.AUGMENTDOT"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="dur">
        <a:documentation xml:lang="eng">encodes logical; that is, written,
          duration.</a:documentation>
        <ref name="data.DURATION"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="oct">
        <a:documentation xml:lang="eng">captures written octave
          information.</a:documentation>
        <ref name="data.OCTAVE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="pname">
        <a:documentation xml:lang="eng">contains the written pitch
          name.</a:documentation>
        <ref name="data.PITCHNAME"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="syl">
        <a:documentation xml:lang="eng">holds an associated sung text
          syllable.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.anl.part">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.part">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.part">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.part">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.anl.parts">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.parts">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.parts">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.parts">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.anl.score">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.score">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.score">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.score">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.anl.section">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.section">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
    <!-- <optional>
      <attribute name="expan">
        <a:documentation xml:lang="eng">contains a list of ids of child
          &lt;section&gt;, &lt;ending&gt; or &lt;app&gt;
          elements. This 'expansion list' indicates how the section should be
          expanded into its 'through-composed' form. See Read, p. 226 (ex.
          12-10), 228-229 (ex. 12-16).</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional> -->
  </define>
  <define name="att.log.section">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.section">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <optional>
      <attribute name="restart">
        <a:documentation>indicates that staves begin again with this
          section.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.anl.staff">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>
  <define name="att.ges.staff">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.log.staff">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <empty/>
  </define>
  <define name="att.vis.staff">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <optional>
      <attribute name="visible">
        <a:documentation xml:lang="eng">indicates if a staff should be displayed
          when the score is rendered. A staff with this attribute set to 'false'
          should also not be included in a sounded rendition.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.typed" combine="interleave">
    <a:documentation xml:lang="eng">Attributes which can be used to classify or
      subclassify elements</a:documentation>
    <optional>
      <attribute name="type">
        <a:documentation xml:lang="eng">characterizes the element in some sense,
          using any convenient classification scheme or
          typology.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="subtype">
        <a:documentation xml:lang="eng">provide any sub-classification for the
          element, additional to that given by its type
          attribute.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.typography">
    <a:documentation xml:lang="eng">Typographical attributes</a:documentation>
    <optional>
      <attribute name="fontfam">
        <a:documentation xml:lang="eng">contains the name of a
          font-family.</a:documentation>
        <ref name="data.FONTFAMILY"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fontname">
        <a:documentation xml:lang="eng">records the name of the
          font.</a:documentation>
        <ref name="data.FONTNAME"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fontsize">
        <a:documentation xml:lang="eng">indicates the size of the font in
          printers' points, i.e., 1/72ths of an inch.</a:documentation>
        <ref name="data.NUMBER"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fontstyle">
        <a:documentation xml:lang="eng">records the style of the font, i.e,
          italic, oblique, or normal.</a:documentation>
        <ref name="data.FONTSTYLE"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fontweight">
        <a:documentation xml:lang="eng">used to indicate bold
          type.</a:documentation>
        <ref name="data.FONTWEIGHT"/>
      </attribute>
    </optional>
  </define>

  <!-- Declare module model classes -->
  <define name="model.addressLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used to represent a postal
      address.</a:documentation>
    <ref name="address"/>
  </define>

  <define name="model.annotLike" combine="interleave">
    <a:documentation xml:lang="eng">groups annotation-like
      elements.</a:documentation>
    <ref name="annot"/>
  </define>

  <define name="model.biblLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements containing a bibliographic
      description.</a:documentation>
    <ref name="bibl"/>
  </define>

  <define name="model.biblPart">
    <a:documentation xml:lang="eng">groups elements that may appear as part of a
      bibliographic description.</a:documentation>
    <ref name="model.editionLike"/>
  </define>

  <define name="model.captionLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that contain the text of a
      caption or other text displayed along with a figure.</a:documentation>
    <ref name="caption"/>
  </define>

  <define name="model.dateLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements containing date
      expressions.</a:documentation>
    <ref name="date"/>
  </define>

  <define name="model.editionLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements containing bibliographic
      edition information.</a:documentation>
    <ref name="edition"/>
  </define>

  <define name="model.endingLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that represent alternative
      endings.</a:documentation>
    <ref name="ending"/>
  </define>

  <define name="model.identifierLike" combine="interleave">
    <a:documentation xml:lang="eng">groups identifier-like
      elements.</a:documentation>
    <ref name="identifier"/>
  </define>

  <define name="model.layerLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that function as notational
      layers within a staff.</a:documentation>
    <ref name="layer"/>
  </define>

  <define name="model.layerPart" combine="interleave">
    <a:documentation xml:lang="eng">groups notated events at the layer
      level.</a:documentation>
    <empty/>
    <!-- <choice>
      <ref name="model.eventLike"/>
      <ref name="model.eventLike.cmn.measureFilling"/>
      <ref name="model.midiLike"/>
      <ref name="model.controleventLike"/>
      <ref name="model.lyricsLike"/>
      <ref name="model.noteModifierLike"/>
      <ref name="model.verseLike"/>
      <ref name="model.sylLike"/>
    </choice> -->
  </define>

  <define name="model.lbLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that function like line
      breaks.</a:documentation>
    <ref name="lb"/>
  </define>

  <define name="model.mdivLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used to represent generic
      structural divisions of music notation.</a:documentation>
    <ref name="mdiv"/>
  </define>

  <define name="model.measureLike" combine="interleave">
    <a:documentation xml:lang="eng">groups measure-like
      elements.</a:documentation>
    <ref name="measure"/>
  </define>

  <define name="model.measurementLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that represent a
      measurement.</a:documentation>
    <ref name="model.numLike"/>
  </define>

  <define name="model.milestoneLike.text" combine="interleave">
    <a:documentation xml:lang="eng">groups milestone-style elements found in
      text.</a:documentation>
    <choice>
      <ref name="lb"/>
      <ref name="pb"/>
    </choice>
  </define>

  <define name="model.musicPart" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may appear as part of a
      music element.</a:documentation>
    <optional>
      <ref name="model.frontLike"/>
    </optional>
    <optional>
      <choice>
        <ref name="body"/>
        <ref name="group"/>
      </choice>
    </optional>
    <optional>
      <ref name="model.backLike"/>
    </optional>
  </define>

  <define name="model.nameLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that contain
      names.</a:documentation>
    <ref name="name"/>
  </define>

  <define name="model.numLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that denote a number or a
      quantity.</a:documentation>
    <ref name="num"/>
  </define>

  <define name="model.partLike">
    <a:documentation xml:lang="eng">groups elements that represent a separate
      performer part.</a:documentation>
    <ref name="part"/>
  </define>

  <define name="model.partsLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that group separate
      performer parts.</a:documentation>
    <ref name="parts"/>
  </define>

  <define name="model.rendLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that mark typographical
      features.</a:documentation>
    <choice>
      <ref name="rend"/>
      <ref name="stack"/>
    </choice>
  </define>

  <define name="model.repositoryLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that denote a corporate
      entity that holds a bibliographic item.</a:documentation>
    <ref name="repository"/>
  </define>

  <define name="model.scoreLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that represent a
      score.</a:documentation>
    <ref name="score"/>
  </define>

  <define name="model.scorePart" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may appear as part of a
      score.</a:documentation>
    <choice>
      <ref name="model.sectionLike"/>
      <ref name="model.endingLike"/>
    </choice>
  </define>

  <define name="model.sectionLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that represent a segment of
      music notation.</a:documentation>
    <ref name="section"/>
  </define>

  <define name="model.sectionPart" combine="choice">
    <a:documentation xml:lang="eng">groups elements that may appear as part of a
      section.</a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="model.sectionLike"/>
        <ref name="model.endingLike"/>
        <!-- added by Neumes and Mensural modules. -->
        <!-- <ref name="model.staffLike"/> -->
        <!-- Added by CMN module -->
        <!-- <ref name="model.measureLike"/> -->
      </choice>
    </zeroOrMore>
  </define>

  <define name="model.staffLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that function like
      staves.</a:documentation>
    <ref name="staff"/>
  </define>

  <define name="model.staffPart" combine="interleave">
    <choice>
      <ref name="model.layerLike"/>
    </choice>
  </define>

  <define name="model.textphraseLike" combine="interleave">
    <a:documentation xml:lang="eng">Phrase-level text
      elements.</a:documentation>
    <choice>
      <ref name="model.locrefLike"/>
      <ref name="model.addressLike"/>
      <ref name="model.annotLike"/>
      <ref name="model.biblLike"/>
      <ref name="model.editorialLike"/>
      <ref name="model.nameLike"/>
      <ref name="model.nameLike.agent"/>
      <ref name="model.nameLike.place"/>
      <ref name="model.nameLike.label"/>
      <ref name="model.dateLike"/>
      <ref name="model.rendLike"/>
      <ref name="model.measurementLike"/>
      <ref name="model.titleLike"/>
      <ref name="model.identifierLike"/>
      <ref name="model.figureLike"/>
      <ref name="model.milestoneLike.text"/>
    </choice>
  </define>

  <define name="model.textphraseLike.limited" combine="interleave">
    <a:documentation xml:lang="eng">groups textual elements that occur as part
      of the representation of the score, as opposed to the textual matter which
      accompanies it. This class is equivalent to the model.textphraseLike class
      without the pb element.</a:documentation>
    <choice>
      <ref name="model.locrefLike"/>
      <ref name="model.addressLike"/>
      <ref name="model.biblLike"/>
      <ref name="model.editorialLike"/>
      <ref name="model.nameLike"/>
      <ref name="model.nameLike.agent"/>
      <ref name="model.nameLike.place"/>
      <ref name="model.nameLike.label"/>
      <ref name="model.dateLike"/>
      <ref name="model.rendLike"/>
      <ref name="model.measurementLike"/>
      <ref name="model.titleLike"/>
      <ref name="model.identifierLike"/>
      <ref name="model.figureLike"/>
      <ref name="model.lbLike"/>
    </choice>
  </define>

  <define name="model.titleLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that denote names of a
      bibliographic item.</a:documentation>
    <ref name="title"/>
  </define>

  <!-- Declare module elements -->
  <define name="content.address">
    <oneOrMore>
      <ref name="addressline"/>
    </oneOrMore>
  </define>
  <define name="address">
    <element name="address">
      <a:documentation xml:lang="eng">address ― A postal
        address.</a:documentation>
      <ref name="attlist.address"/>
      <ref name="content.address"/>
    </element>
  </define>
  <define name="attlist.address">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.addressline">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="addressline">
    <element name="addressline">
      <a:documentation xml:lang="eng">addressline ― Single line of a postal
        address. This element may be repeated as many times as necessary to
        enter all available lines of an address.</a:documentation>
      <ref name="attlist.addressline"/>
      <ref name="content.addressline"/>
    </element>
  </define>
  <define name="attlist.addressline">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.annot">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textcomponentLike"/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="annot">
    <element name="annot">
      <a:documentation xml:lang="eng">annotation ― Provides a short statement
        explaining the text or indicating the basis for an assertion. It is used
        for both general comments and for an annotation of the musical text.
        &lt;annot&gt; provides a way to group participating *events*
        and/or *control events*, the notes that form a descending bass line or
        phrase marks, for example, and provide a label for or comment regarding
        the group. A list of event IDs may be given in the plist attribute. An
        editorial or analytical comment or observation, encoded elsewhere, such
        as in the front or back matter, in score text elements, or in an
        external document may be pointed to using the link.common,
        link.internal, or link.external attributes. Alternatively, the
        observation may be included directly within the &lt;annot&gt;
        element. The &lt;annot&gt; element, along with other elements
        with attributes from the att.link.external class, may also be used to
        link/synchronize elements within the MEI file to external media such as
        images or sound recordings. The ID of the MEI element(s) to be linked
        from should be encoded in the plist attribute while the link to the
        external media may be encoded in the href or entityref attributes or in
        the body of the annotation using &lt;extref&gt; or
        &lt;extptr&gt; elements. The starting point of the annotation
        may be indicated by either a tstamp, tstamp.ges, tstamp.real or startid
        attribute, while the ending point may be recorded by either a dur,
        dur.ges or endid attribute.</a:documentation>
      <ref name="attlist.annot"/>
      <ref name="content.annot"/>
    </element>
  </define>
  <define name="attlist.annot">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.typed"/>
    <ref name="att.log.annot"/>
    <ref name="att.vis.annot"/>
    <ref name="att.ges.annot"/>
    <ref name="att.anl.annot"/>
    <ref name="att.link.common"/>
    <ref name="att.link.internal"/>
    <ref name="att.link.external"/>
    <optional>
      <attribute name="resp">
        <a:documentation xml:lang="eng">records the editor(s) responsible for
          identifying or creating the annotation. Its value must point to one or
          more of the identifiers declared in the document header, associated
          with a person asserted as responsible for some aspect of the text's
          creation, transcription, editing, or encoding.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="source">
        <a:documentation xml:lang="eng">contains a list of one or more pointers
          indicating the sources that contain a given annotation. Each value
          should correspond to the ID of a &lt;source&gt; element given
          elsewhere in the document.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="content.bibl">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.biblPart"/>
        <ref name="model.textphraseLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="bibl">
    <element name="bibl">
      <a:documentation xml:lang="eng">bibliographic reference ― Provides a
        citation for a published work. &lt;bibref&gt; may contain a mix
        of text and more specific elements such as &lt;title&gt;,
        &lt;edition&gt;, &lt;persname&gt;, and
        &lt;corpname&gt;. This element may also function as a hypertext
        reference to an external electronic resource. Do not confuse this
        element with &lt;ref&gt;, which is an internal link from one
        place in the MEI document to another place in the same
        document.</a:documentation>
      <ref name="attlist.bibl"/>
      <ref name="content.bibl"/>
    </element>
  </define>
  <define name="attlist.bibl">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.link.common"/>
    <ref name="att.link.external"/>
  </define>

  <define name="content.body">
    <oneOrMore>
      <ref name="model.mdivLike"/>
    </oneOrMore>
  </define>
  <define name="body">
    <element name="body">
      <a:documentation xml:lang="eng">body ― This element contains the actual
        music data. When the music can be broken into high-level, discrete,
        linear segments, such as movements in the case of a symphony, there may
        be multiple mdiv elements within this element. This is the highest level
        indication of the structure of the music.</a:documentation>
      <ref name="attlist.body"/>
      <ref name="content.body"/>
    </element>
  </define>
  <define name="attlist.body">
    <ref name="att.common"/>
  </define>

  <define name="content.caption">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="caption">
    <element name="caption">
      <a:documentation xml:lang="eng">caption ― A label which accompanies an
        illustration or a table.</a:documentation>
      <ref name="attlist.caption"/>
      <ref name="content.caption"/>
    </element>
  </define>
  <define name="attlist.caption">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.date">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="date">
    <element name="date">
      <a:documentation xml:lang="eng">date ― A date in any
        format.</a:documentation>
      <ref name="attlist.date"/>
      <ref name="content.date"/>
    </element>
  </define>
  <define name="attlist.date">
    <ref name="att.bibl"/>
    <ref name="att.common"/>
    <ref name="att.date"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.edition">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike.limited"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="edition">
    <element name="edition">
      <a:documentation xml:lang="eng">edition ― The edition designation is a
        word or text phrase that normally indicates a difference in either
        content or form between the item being described and a related item
        previously issued by the same publisher/distributor (e.g. 2nd edition,
        version 2.0, etc.), or simultaneously issued by either the same
        publisher/distributor or another publisher/distributor (e.g. large print
        edition, British edition, etc.).</a:documentation>
      <ref name="attlist.edition"/>
      <ref name="content.edition"/>
    </element>
  </define>
  <define name="attlist.edition">
    <ref name="att.common"/>
    <ref name="att.bibl"/>
  </define>

  <define name="content.ending">
    <zeroOrMore>
      <ref name="expansion"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.sectionPart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="ending">
    <element name="ending">
      <a:documentation xml:lang="eng">ending ― Alternative ending. The scoredef
        element is allowed so that an ending may have its own meta-data without
        the overhead of child &lt;section&gt;s. Div sub-elements are not
        allowed within ending in order to avoid collisions with the brackets
        that are usually displayed over endings. Endings may *not* contain other
        ending elements.</a:documentation>
      <ref name="attlist.ending"/>
      <ref name="content.ending"/>
    </element>
  </define>
  <define name="attlist.ending">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
    <ref name="att.link.common"/>
    <ref name="att.link.external"/>
    <ref name="att.link.internal"/>
    <ref name="att.anl.ending"/>
    <ref name="att.ges.ending"/>
    <ref name="att.log.ending"/>
    <ref name="att.vis.ending"/>
  </define>

  <define name="content.expansion">
    <empty/>
  </define>
  <define name="expansion">
    <element name="expansion">
      <ref name="attlist.expansion"/>
      <ref name="content.expansion"/>
    </element>
  </define>
  <define name="attlist.expansion">
    <ref name="att.common"/>
    <ref name="att.typed"/>
    <optional>
      <attribute name="plist">
        <a:documentation xml:lang="eng">contains a list of ids of child
          &lt;section&gt;, &lt;ending&gt; or &lt;app&gt;
          elements. This 'expansion list' indicates how the section should be
          expanded into its 'through-composed' form. See Read, p. 226 (ex.
          12-10), 228-229 (ex. 12-16).</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="source">
        <a:documentation xml:lang="eng">contains a list of one or more pointers
          indicating the sources that follow the expansion given in the plist
          attribute. Each value should correspond to the ID of a
          &lt;source&gt; element given elsewhere in the
          document.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="content.group">
    <choice>
      <ref name="music"/>
      <ref name="group"/>
    </choice>
    <zeroOrMore>
      <choice>
        <ref name="music"/>
        <ref name="group"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="group">
    <element name="group">
      <a:documentation xml:lang="eng">group ― Enables the gathering of multiple
        documents into a single file. Because its model contains the music
        element, each of the documents can have its own front and back
        matter.</a:documentation>
      <ref name="attlist.group"/>
      <ref name="content.group"/>
    </element>
  </define>
  <define name="attlist.group">
    <ref name="att.common"/>
  </define>

  <define name="content.identifier">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="identifier">
    <element name="identifier">
      <a:documentation xml:lang="eng">identifier ― Bibliographic, e.g.,
        International Standard Book/Music Number, Library of Congress Control
        Number, publisher's number, plate number, or personal
        identifier.</a:documentation>
      <ref name="attlist.identifier"/>
      <ref name="content.identifier"/>
    </element>
  </define>
  <define name="attlist.identifier">
    <ref name="att.bibl"/>
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.layer">
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.layerPart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="layer">
    <element name="layer">
      <a:documentation xml:lang="eng">layer ― An independent stream of events on
        a staff. The term 'layer' in used instead of 'voice' in order to avoid
        confusion between 'voice' and 'voice leading'. The n attribute is used
        to establish a connection back to the appropriate layerdef
        element.</a:documentation>
      <ref name="attlist.layer"/>
      <ref name="content.layer"/>
    </element>
  </define>
  <define name="attlist.layer">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.log.layer"/>
    <ref name="att.vis.layer"/>
    <ref name="att.ges.layer"/>
    <ref name="att.anl.layer"/>
  </define>

  <define name="content.lb">
    <empty/>
  </define>
  <define name="lb">
    <element name="lb">
      <a:documentation xml:lang="eng">line break ― An empty formatting element
        that forces text to begin on a new line. The n attribute should be used
        to record a label for the line, i.e., most likely a line number. See
        comment on &lt;verse&gt; element for description of func
        attribute. Do not confuse this element with the &lt;sb&gt;
        element, which performs a similar function for musical
        notation.</a:documentation>
      <ref name="attlist.lb"/>
      <ref name="content.lb"/>
    </element>
  </define>
  <define name="attlist.lb">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
    <optional>
      <attribute name="func">
        <a:documentation xml:lang="eng">states whether the line break follows a
          single line or a line group.</a:documentation>
        <choice>
          <value>line</value>
          <value>group</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="source">
        <a:documentation xml:lang="eng">Source descriptions in the header may be
          pointed to by putting their IDs in the source attribute. This allows
          line breaks from multiple sources to be encoded with a single
          &lt;lb&gt; element.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="content.mdiv">
    <choice>
      <group>
        <optional>
          <ref name="model.scoreLike"/>
        </optional>
        <optional>
          <ref name="model.partsLike"/>
        </optional>
      </group>
      <zeroOrMore>
        <ref name="model.mdivLike"/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="mdiv">
    <element name="mdiv">
      <a:documentation xml:lang="eng">musical division ― The mdiv element may
        contain one or both of 2 possible views of the music. The score view is
        the traditional full and open score while the parts view contains each
        performer's view of the score; that is, his part. These 2 views are
        necessary because it is not always possible or desirable to generate one
        from the other. The score and parts elements are placed here and not
        directly within the body element because score and part characteristics
        may change from mdiv to mdiv. For example, the 2nd movement of a
        symphony may require different performing forces (and therefore
        different score and part layout) than the other movements. The mdiv
        element may be recursively nested in order to represent music which
        exhibits this kind of structure. For example, an opera is normally
        divided into acts, which are in turn divided into scenes. This may be
        represented by the following markup: &lt;mdiv&gt; &lt;- the
        opera &lt;mdiv&gt; &lt;- act I &lt;mdiv&gt;
        &lt;- scene i &lt;mdiv&gt; &lt;- scene ii
        &lt;/mdiv&gt; &lt;mdiv&gt; &lt;- act II
        &lt;mdiv&gt; &lt;- scene i &lt;mdiv&gt; &lt;-
        scene ii &lt;/mdiv&gt; &lt;/mdiv&gt;</a:documentation>
      <ref name="attlist.mdiv"/>
      <ref name="content.mdiv"/>
    </element>
  </define>
  <define name="attlist.mdiv">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.measure">
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.measurePart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="measure">
    <element name="measure">
      <a:documentation xml:lang="eng">measure ― "In Western notation a vertical
        line drawn through the staff to mark off metrical units. Hence also the
        metrical unit thus indicated, which in American usage is called
        'measure'. English usage often relies on context alone to make the
        distinction clear (e.g. 'up to the double bar', 'the end of the bar'),
        but 'bar-line' is also common." (New Grove) In MEI, the measure element
        is also a linking element that uses attributes to connect the MEI
        document to an external electronic object or to another location within
        the MEI instance.</a:documentation>
      <ref name="attlist.measure"/>
      <ref name="content.measure"/>
    </element>
  </define>
  <define name="attlist.measure">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
    <ref name="att.link.common"/>
    <ref name="att.link.internal"/>
    <ref name="att.link.external"/>
    <ref name="att.log.measure"/>
    <ref name="att.vis.measure"/>
    <ref name="att.ges.measure"/>
    <ref name="att.anl.measure"/>
  </define>

  <define name="mei">
    <element name="mei">
      <a:documentation xml:lang="eng">mei ― The document element for a single
        document, containing a header and data. The &lt;mei&gt; element
        defines a particular instance of a document encoded with the MEI schema.
        The name of this element should not be changed in order to assure an
        absolute minimum level of MEI compliance.</a:documentation>
      <ref name="attlist.mei"/>
      <ref name="meihead"/>
      <ref name="music"/>
    </element>
  </define>
  <define name="attlist.mei">
    <optional>
      <attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
        <a:documentation xml:lang="eng">regularizes the naming of an element and
          thus facilitates building links between it and other resources. Each
          id attribute within a document must have a unique
          value.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="version" a:defaultValue="1.9b">
        <a:documentation xml:lang="eng">names the version of the schema used by
          the instance.</a:documentation>
        <ref name="meiVersion"/>
      </attribute>
    </optional>
  </define>

  <define name="music">
    <element name="music">
      <a:documentation xml:lang="eng">music ― Container for everything else in
        the document apart from the header.</a:documentation>
      <ref name="attlist.music"/>
      <zeroOrMore>
        <ref name="model.facsimileLike"/>
      </zeroOrMore>
      <ref name="model.musicPart"/>
    </element>
  </define>
  <define name="attlist.music">
    <ref name="att.common"/>
    <optional>
      <attribute name="version" a:defaultValue="1.9b">
        <ref name="meiVersion"/>
      </attribute>
    </optional>
  </define>

  <define name="content.name">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="name">
    <element name="name">
      <a:documentation xml:lang="eng">name ― Contains the name of an entity that
        is difficult to tag more specifically as a &lt;corpname&gt;,
        &lt;geogname&gt;, &lt;persname&gt;, or
        &lt;title&gt;. The &lt;name&gt; element may be used in
        place of the more specific elements when it is not known what kind of
        name is being described or when a high degree of precision is not
        necessary. For example, the &lt;name&gt; element might be used
        when it is not clear whether the name "Bach" refers to a person or a
        geographic feature. The &lt;name&gt; element may be used for an
        individual, such as 'Henry VIII, King of England'; a corporate body,
        such as 'The Beatles'; a geographical place; or a generative mechanical
        process. When name parts are needed, use &lt;name&gt;
        sub-elements. The recommended values for the type attribute are: pers,
        corp, place, process. The &lt;date&gt; sub-element is available
        within &lt;name&gt; in order to record any dates, associated
        with the name, i.e., birth and death in the case of persons or creation
        and dissolution in the case of a corporate entity or
        place.</a:documentation>
      <ref name="attlist.name"/>
      <ref name="content.name"/>
    </element>
  </define>
  <define name="attlist.name">
    <ref name="att.bibl"/>
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.name"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.num">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="num">
    <element name="num">
      <a:documentation xml:lang="eng">number ― Numeric information in any form
        occurring in text.</a:documentation>
      <ref name="attlist.num"/>
      <ref name="content.num"/>
    </element>
  </define>
  <define name="attlist.num">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <optional>
      <attribute name="unit">
        <a:documentation xml:lang="eng">indicates the units of measurement of
          the numeric value.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="content.parts">
    <zeroOrMore>
      <ref name="model.partLike"/>
    </zeroOrMore>
  </define>
  <define name="parts">
    <element name="parts">
      <a:documentation xml:lang="eng">parts ― Gathers performers'
        parts.</a:documentation>
      <ref name="attlist.parts"/>
      <ref name="content.parts"/>
    </element>
  </define>
  <define name="attlist.parts">
    <ref name="att.common"/>
    <ref name="att.typed"/>
    <ref name="att.log.parts"/>
    <ref name="att.vis.parts"/>
    <ref name="att.ges.parts"/>
    <ref name="att.anl.parts"/>
  </define>

  <define name="content.part">
    <zeroOrMore>
      <ref name="model.scorePart"/>
    </zeroOrMore>
  </define>
  <define name="part">
    <element name="part">
      <a:documentation xml:lang="eng">part ― An alternative visual rendition of
        the score from a particular performer's point of view. Part elements are
        not used in the score to indicate voice leading. Next attributes on
        event elements should be used for this purpose. Part elements are useful
        for encoding individual parts when there is no score, such as early
        music part books, when the music has non-aligning barlines, when
        different layout, such as page turns, are needed for the score and
        parts, or for accommodating software that requires part-by-part
        encoding. When assembly of the parts into a score is desired and there
        are non-aligning barlines, barlines which indicate points of alignment
        across all the parts may be marked as 'controlling', while non-aligning
        ones may be marked as 'non-controlling'.</a:documentation>
      <ref name="attlist.part"/>
      <ref name="content.part"/>
    </element>
  </define>
  <define name="attlist.part">
    <ref name="att.common"/>
    <ref name="att.typed"/>
    <ref name="att.log.part"/>
    <ref name="att.vis.part"/>
    <ref name="att.ges.part"/>
    <ref name="att.anl.part"/>
  </define>

  <define name="content.pb">
    <ref name="model.metaLike"/>
  </define>
  <define name="pb">
    <element name="pb">
      <a:documentation xml:lang="eng">page break ― The n attribute records the
        page number in the source. It need not be an integer, e.g. 'iv', or
        'p17-3'. The logical page number can be calculated by counting previous
        &lt;pb&gt; ancestor elements. When used in a score context, a
        page break implies an accompanying system break.</a:documentation>
      <ref name="attlist.pb"/>
      <ref name="content.pb"/>
    </element>
  </define>
  <define name="attlist.pb">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.link.common"/>
    <ref name="att.link.external"/>
    <optional>
      <attribute name="func">
        <a:documentation xml:lang="eng">states the side of a leaf (as in a
          manuscript) on which the content following the &lt;pb&gt;
          element occurs.</a:documentation>
        <choice>
          <value>verso</value>
          <value>recto</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="source">
        <a:documentation xml:lang="eng">provided for linking to the
          bibliographic description of the source(s) that contains the page
          break. This allows page breaks from multiple sources to be encoded
          using a single &lt;pb&gt; element.</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>

  <define name="content.pgdesc">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.graphicprimitiveLike"/>
        <ref name="model.textcomponentLike"/>
        <ref name="model.annotLike"/>
        <ref name="model.locrefLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="pgdesc">
    <element name="pgdesc">
      <a:documentation xml:lang="eng">page description ― Contains a brief prose
        description of the appearance or description of the content of a
        physical page. Best practice suggests the use of controlled vocabulary.
        Don't confuse this element with a figure caption. A caption is text
        primarily intended for display with an illustration. It may or may not
        function as a description of the illustration.</a:documentation>
      <ref name="attlist.pgdesc"/>
      <ref name="content.pgdesc"/>
    </element>
  </define>
  <define name="attlist.pgdesc">
    <ref name="att.common"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.rend">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="rend">
    <element name="rend">
      <a:documentation xml:lang="eng">rend ― A formatting element indicating
        special visual rendering, e.g., bold or italicized, of a text word or
        phrase. When an entire element should be rendered in a special way, a
        style sheet function should be used instead of the &lt;rend&gt;
        element.</a:documentation>
      <ref name="attlist.rend"/>
      <ref name="content.rend"/>
    </element>
  </define>
  <define name="attlist.rend">
    <ref name="att.color"/>
    <ref name="att.common"/>
    <ref name="att.lang"/>
    <ref name="att.typography"/>
    <optional>
      <attribute name="altrend">
        <a:documentation xml:lang="eng">used to extend the values of the rend
          attribute. One or the other of the rend and altrend attributes is
          required.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="halign">
        <a:documentation xml:lang="eng">specifies the horizontal alignment of
          the element content.</a:documentation>
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="rend">
        <a:documentation xml:lang="eng">captures the appearance of the text. One
          or the other of the rend and altrend attributes is
          required.</a:documentation>
        <ref name="data.TEXTRENDITION"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rotation">
        <a:documentation xml:lang="eng">A positive value for rotation rotates
          the text in a counter-clockwise fashion, while negative values produce
          clockwise rotation. </a:documentation>
        <ref name="data.DEGREES"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <a:documentation xml:lang="eng">specifies the vertical alignment of the
          element content.</a:documentation>
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
          <value>baseline</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="content.repository">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike.limited"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="repository">
    <element name="repository">
      <a:documentation xml:lang="eng">repository ― Institution or agency which
        holds a bibliographic item. Sub-units of the institution may be marked
        with nested &lt;repository&gt; elements.</a:documentation>
      <ref name="attlist.repository"/>
      <ref name="content.repository"/>
    </element>
  </define>
  <define name="attlist.repository">
    <ref name="att.bibl"/>
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.name"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.score">
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.scorePart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="score">
    <element name="score">
      <a:documentation xml:lang="eng">score ― Full score view of the mdiv. Since
        the measure element is optional, a score may consist entirely of
        pagebreaks, each of which points to a page image. Div elements are
        allowed preceding and following sections of music data in order to
        accommodate blocks of explanatory text.</a:documentation>
      <ref name="attlist.score"/>
      <ref name="content.score"/>
    </element>
  </define>
  <define name="attlist.score">
    <ref name="att.common"/>
    <ref name="att.typed"/>
    <ref name="att.log.score"/>
    <ref name="att.vis.score"/>
    <ref name="att.ges.score"/>
    <ref name="att.anl.score"/>
  </define>

  <define name="content.section">
    <zeroOrMore>
      <ref name="expansion"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.sectionPart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="section">
    <element name="section">
      <a:documentation xml:lang="eng">section ― Container for actual music data.
        The linking attributes are available here so that this element can point
        to external media objects or to related internal elements, such as
        annotations.</a:documentation>
      <ref name="attlist.section"/>
      <ref name="content.section"/>
    </element>
  </define>
  <define name="attlist.section">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
    <ref name="att.link.common"/>
    <ref name="att.link.external"/>
    <ref name="att.link.internal"/>
    <ref name="att.log.section"/>
    <ref name="att.vis.section"/>
    <ref name="att.ges.section"/>
    <ref name="att.anl.section"/>
  </define>

  <define name="content.stack">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="stack">
    <element name="stack">
      <a:documentation xml:lang="eng">stacked text ― An inline table with a
        single column.</a:documentation>
      <ref name="attlist.stack"/>
      <ref name="content.stack"/>
    </element>
  </define>
  <define name="attlist.stack">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <optional>
      <attribute name="delim">
        <a:documentation xml:lang="eng">gives the delimiter used to mark the
          portions of text that are to be stacked.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <a:documentation xml:lang="eng">specifies how the stacked text should be
          aligned.</a:documentation>
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>rightdigit</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="content.staff">
    <zeroOrMore>
      <choice>
        <!-- <ref name="model.Incl"/> -->
        <ref name="model.staffPart"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="staff">
    <element name="staff">
      <a:documentation xml:lang="eng">staff ― The n attribute is a connection
        back to the appropriate staffdef element. If the n attribute is omitted,
        encoding order is presumed to match the staff order. Of course, if data
        is supplied for only a subset of staves, the n attribute must be
        supplied.</a:documentation>
      <ref name="attlist.staff"/>
      <ref name="content.staff"/>
    </element>
  </define>
  <define name="attlist.staff">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.log.staff"/>
    <ref name="att.vis.staff"/>
    <ref name="att.ges.staff"/>
    <ref name="att.anl.staff"/>
  </define>

  <define name="content.note">
    <empty/>
  </define>
  <define name="note">
    <element name="note">
      <ref name="content.note"/>
      <ref name="attlist.note"/>
    </element>
  </define>
  <define name="attlist.note">
    <ref name="att.common.anl"/>
    <ref name="att.common"/>
    <ref name="att.event"/>
    <ref name="att.facsimile"/>
    <ref name="att.log.note"/>
    <ref name="att.vis.note"/>
    <ref name="att.ges.note"/>
    <ref name="att.anl.note"/>
  </define>

  <define name="content.title">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="title">
    <element name="title">
      <a:documentation xml:lang="eng">title ― Title of a bibliographic entity.
        The type attribute may be used to classify the title according to some
        convenient typology. Sample values include: main (main title),
        subordinate (subtitle, title of part), abbreviated (abbreviated form of
        title), alternative (alternate title by which the work is also known),
        translated (translated form of title), uniform (collective title). The
        type attribute is provided for convenience in analysing titles and
        processing them according to their type; where such specialized
        processing is not necessary, there is no need for such analysis, and the
        entire title, including subtitles and any parallel titles, may be
        enclosed within a single &lt;title&gt; element. Title parts may
        be encoded in &lt;title&gt; sub-elements</a:documentation>
      <ref name="attlist.title"/>
      <ref name="content.title"/>
    </element>
  </define>
  <define name="attlist.title">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.name"/>
    <ref name="att.typed"/>
    <optional>
      <attribute name="level">
        <a:documentation xml:lang="eng">indicates whether this is the title of
          an article, monograph, journal, series, or unpublished
          material.</a:documentation>
        <choice>
          <value>a</value>
          <value>m</value>
          <value>j</value>
          <value>s</value>
          <value>u</value>
        </choice>
      </attribute>
    </optional>
  </define>

</grammar>
