ModularizationTesting/testing.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <include href="../RNG/datatypes.rng"/>
  
  <define name="att.alignment">
    <empty/>
  </define>
  
  <define name="att.anl.common">
    <empty/>
  </define>
  
  <define name="att.common">
    <a:documentation xml:lang="eng">Common attributes</a:documentation>
    <optional>
      <attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
        <a:documentation xml:lang="eng">regularizes the naming of an element and
          thus facilitates building links between it and other resources. Each
          id attribute within a document must have a unique
          value.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="n">
        <a:documentation xml:lang="eng">provides a label (name or number) for an
          element. While its value need not be unique, it is required to be a
          single token.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  
  <define name="att.event">
    <empty/>
  </define>
  
  <define name="att.facsimile">
    <empty/>
  </define>

  <define name="model.startLike">
    <ref name="mei"/>
  </define>

  <start>
    <ref name="model.startLike"/>
  </start>

  <define name="mei">
    <element name="mei">
      <zeroOrMore>
        <ref name="model.facsimileLike"/>
      </zeroOrMore>
      <optional>
        <ref name="score"/>
      </optional>
    </element>
  </define>

  <define name="score">
    <element name="score">
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
      <ref name="att.anl.common"/>
    </element>
  </define>
  
  <define name="note">
    <element name="note">
      <empty/>
      <ref name="attlist.note"/>
    </element>
  </define>
  <define name="attlist.note">
    <ref name="att.anl.common"/>
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.log.note"/>
    <ref name="att.vis.note"/>
    <ref name="att.ges.note"/>
    <ref name="att.anl.note"/>
  </define>
  <define name="att.log.note">
    <empty/>
  </define>
  <define name="att.vis.note">
    <empty/>
  </define>
  <define name="att.ges.note">
    <empty/>
  </define>
  <define name="att.anl.note">
    <empty/>
  </define>

  <define name="model.facsimileLike">
    <empty/>
  </define>

  <define name="model.graphicLike">
    <empty/>
  </define>

  <define name="model.figdescLike">
    <empty/>
  </define>
  
  <include href="logical_Module.rng"/>
  <include href="analysis_Module.rng"/>
  <include href="facsimile_Module.rng"/>
  <include href="figure_Module.rng"/>

</grammar>
